@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:#495057;
}
.hover-shadow{
  box-shadow:0 0px 16px 4px #db00b6 ;
}

.icon:hover + .tooltip{
  left:60px;
  opacity: 100;
}